*{box-sizing: border-box;}


main {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--footer-height));
    font-size: large;
    font-weight: bolder;
}

body {
    background-color: aqua;
    background-image: url('https://static.nike.com/a/images/w_1536,c_limit/9de44154-c8c3-4f77-b47e-d992b7b96379/image.jpg');
}

.welcome {
    display:flex;
    justify-content: left;
    color: orange;

}