*{box-sizing: border-box;}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

li{
    list-style: none;
    border: 1px solid black;
    text-align: center;
    align-items: baseline;
}

.shoe-image{
    width: 200px;
}

.button {
    
}